<p>
  El carácter <span class="simple-font">{{ char }}</span> corresponde con el
  código Unicode <span>{{ char | unicode | formatUnicode }}</span
  >, que en binario es:
</p>

<app-byte-sequence
  [sequence]="char | bytes"
  colorMode="Normal"
></app-byte-sequence>

<p *ngIf="isACII(); else notasciicase">
  El carácter entra dentro del rango de los correspondientes a ASCII. Luego, se
  codifica en UTF-8 de la misma manera en la que lo haría en ASCII, es decir, su
  código asociado (en este caso <span>{{ char.codePointAt(0) }}</span
  >) en binario, que es justo lo que se puede apreciar arriba
</p>
<ng-template #notasciicase>
  <p>
    Para codificarlo en UTF-8 necesitamos un total de {{ encoded.length }}
    {{ encoded.length > 1 ? "bytes" : "byte" }}
  </p>
  <app-byte-sequence
    [sequence]="utf8Service.getTemplateBytes(encoded.length)"
    colorMode="UTF8"
  ></app-byte-sequence>

  <p>Vamos rellenando de derecha a izquierda las x's</p>

  <app-byte-sequence
    [sequence]="encoded | bytes"
    colorMode="UTF8"
  ></app-byte-sequence>
</ng-template>
