<app-flex direction="column" gap="1.3rem">
  <app-flex direction="column" gap="0.5rem" [centered]="false">
    <p>Partimos de la siguiente secuencia de bits</p>
    <app-byte-sequence
      [sequence]="binarySequenceBytes"
      [colors]="
        colorService.colorsToHighlightUTF8Positions(
          binarySequenceBytes.length,
          'info'
        )
      "
    ></app-byte-sequence>
  </app-flex>

  <app-flex direction="column" gap="0.5rem" [centered]="false">
    <p>De la cual extraemos la siguiente información:</p>
    <app-byte-sequence [sequence]="sequenceInfo"></app-byte-sequence>
  </app-flex>

  <div>
    <p>
      Que corresponde con el hexadecimal
      <span
        >0x{{
          utf8Service.hexFromBinarySequence(sequenceInfo) | fillWithTil: "0":4
        }}</span
      >, es decir, con el código Unicode
      <span
        >U+{{
          utf8Service.hexFromBinarySequence(sequenceInfo) | fillWithTil: "0":4
        }}</span
      >, que tiene asignado el carácter <span>{{ decodedChar }}</span>
    </p>
  </div>

  <div class="buttons">
    <app-unicode-reference-button
      [char]="decodedChar"
    ></app-unicode-reference-button>
    <app-char [char]="decodedChar"></app-char>
  </div>
</app-flex>
