:host {
  position: relative;
  .icon {
    font-family: var(--retro-font);
    color: var(--dark-blue);
    font-size: 1.5rem;
    border: solid var(--dark-blue) 0.1rem;
    padding: 0.6rem;
    border-radius: 50%;
  }
  .info {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 4rem;
    min-width: 20vw;
  }

  &:hover {
    .icon {
      background-color: var(--dark-blue);
      color: var(--background-color);
    }

    .info {
      display: initial;
    }
  }
}
