input {
  text-align: center;
  border: none;
  border-bottom: solid 0.2rem var(--dark-blue);
  background-color: transparent;
  height: 3rem;
  color: var(--dark-blue);
  font-size: 3rem;

  &::-webkit-inner-spin-button {
    display: none;
  }
  &:focus {
    outline: none;
  }
}
