:host {
  display: flex;
  div {
    font-size: 2rem;
    font-family: var(--retro-font);
    color: var(--dark-blue);
    border: dashed 0.2rem var(--dark-blue);
    &:not(:last-of-type) {
      border-right: none;
    }

    padding: 0.4rem;
    width: fit-content;
  }
}
