div {
  font-size: 2rem;
  border: solid 0.1rem var(--dark-blue);
  color: var(--dark-blue);
  padding: 1rem 2rem;

  &:hover {
    color: var(--background-color);
    background-color: var(--dark-blue);
    cursor: pointer;
  }
}
