:host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: dotted 0.2rem var(--dark-blue);
  padding: 0.5rem;
  max-width: 25vw;
  text-align: center;

  * {
    color: var(--dark-blue);
  }

  .label {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.8rem;
  }
}
