@import "src/styles.scss";

:host {
  display: block;
  background-color: $background-color;

  h1 {
    font-family: $retro-font;
    font-size: 3rem;
    color: $dark-blue;
    letter-spacing: 0.4rem;
  }

  p {
    font-family: $title-font;
    font-size: 4rem;
    color: $dark-blue;
  }
}
