<app-center>
  <h1 appRetro>CODIFICACION</h1>

  <app-flex gap="1rem" direction="column">
    <label *ngIf="!showEncoding" for="input">Introduce un carácter</label>
    <app-single-char-input
      [(value)]="char"
      [disabled]="showEncoding"
    ></app-single-char-input>
  </app-flex>

  <app-unicode-reference-button
    *ngIf="char && !showEncoding"
    [char]="char"
  ></app-unicode-reference-button>

  <app-encoding-wizard *ngIf="showEncoding" [char]="char"></app-encoding-wizard>

  <app-flex class="menu" gap="1rem">
    <app-button *ngIf="char" (click)="showEncoding = !showEncoding">{{
      !showEncoding ? "Codificar" : "Reiniciar"
    }}</app-button>
    <app-button routerLink="/">Volver</app-button>
  </app-flex>
</app-center>
