@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Press+Start+2P&family=Roboto&display=swap");

* {
  --normal-font: "Bebas Neue", cursive;
  --retro-font: "Press Start 2P", cursive;
  --simple-font: "Roboto", sans-serif;

  --background-color: #5cdb94;
  --dark-blue: #05396b;

  font-family: var(--normal-font);
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.2rem;
}

body {
  background-color: var(--background-color);
}

input {
  &::-webkit-inner-spin-button {
    display: none;
  }
  &:focus {
    outline: none;
  }
}
